//********************
//* color palette
//********************
$color-1: #000000;
$color-2: #31708F;
$color-3: #333333;
$color-4: #337AB7;
$color-5: #3C763D;
$color-6: #444444;
$color-7: #032241;
$color-8: #555555;
$color-9: #5D5670;
$color-10: #5CB85C;
$color-11: #65697A;
$color-12: #666666;
$color-13: #66727D;
$color-14: #677785;
$color-15: #6A6578;
$color-16: #6EA674;
$color-17: #6A80E6;
$color-18: #757083;
$color-19: #777777;
$color-20: #778591;
$color-21: #79996A;
$color-22: #808F9C;
$color-23: #829EB5;
$color-24: #8499AB;
$color-25: #888888;
$color-26: #8A6D3B;
$color-27: #93A0AB;
$color-28: #E5E8EB;
$color-29: #9589B3;
$color-30: #99534D;
$color-31: #999999;
$color-32: #A2A5AF;
$color-33: #A2B2BF;
$color-34: #A5E8D6;
$color-35: #AA9DCC;
$color-36: #ABC3D7;
$color-37: #B29EB5;
$color-38: #BBE6A5;
$color-39: #BFCAD3;
$color-40: #C4C3C7;
$color-41: #C9D2DA;
$color-42: #CCE8E2;
$color-43: #D66C60;
$color-44: #D8F5EE;
$color-45: #E2E7EB;
$color-46: #E56455;
$color-47: #E6D5A5;
$color-48: #E6E6E6;
$color-49: #FF0000;
$color-50: #F08377;
$color-51: #F5F5F5;
$color-52: #F8F8F8;
$color-53: #FA988D;
$color-54: #FAF7CF;
$color-55: #FAFAFA;
$color-56: #FFAFA6;
$color-57: #A5E6E6;
$color-58: #A94442;
$color-59: #AFAABF;
$color-60: #B3C0C7;
$color-61: #C7254E;
$color-62: #CCCCCC;
$color-63: #D9EDF7;
$color-64: #F3F4F6;
$color-65: #DFDFDF;
$color-66: #DFF0D8;
$color-67: #E0DDEB;
$color-68: #E3E3E3;
$color-69: #E5E5E5;
$color-70: #E67C73;
$color-71: #ECE9F5;
$color-72: #EDEBF5;
$color-73: #F2DEDE;
$color-75: #F7F7F7;
$color-76: #F8F8F8;
$color-77: #F9F2F4;
$color-78: #F9F9F9;
$color-79: #FCF8E3;
$color-80: #FFFFFF;

$color-81: #001E40;
$color-82: #FFDE00;
$color-86: #7BDBFF;
$color-87: #D9DEE3;
$color-88: #B1E7FC;

$color-1-1: #000001;
$color-1-2: #000002;
$color-1-3: #000003;
$color-1-4: #000004;
$color-1-5: #000005;
$color-1-6: #000006;
$color-1-7: #000007;
$color-1-8: #000008;
$color-1-9: #000009;
$color-1-10: #000010;


/* ---------- 50 -------------- 
$color-50-1: #F08371;
$color-50-2: #F08372;

$color-50-2-1: #F08301;
$color-50-2-2: #F08302;
$color-50-2-3: #F08303;
$color-50-2-4: #F08304;
$color-50-2-5: #F08305;
$color-50-2-6: #F08306;
$color-50-2-7: #F08307;
$color-50-2-8: #F08308;
$color-50-2-9: #F08309;
$color-50-2-10: #F08310;
$color-50-2-11: #F08311;
$color-50-2-12: #F08312;
$color-50-2-13: #F08313;
$color-50-2-14: #F08314;
$color-50-2-15: #F08315;

$color-50-3: #F08373;
$color-50-4: #F08374;
$color-50-5: #F08375;
$color-50-6: #F08376;
$color-50-7: #F08357;
$color-50-8: #F08378;
$color-50-9: #F08379;
$color-50-10: #F08360;
$color-50-11: #F08361;
*/
$color-50-1: #F08377;
$color-50-2: #F08377;

$color-50-2-1: #F08377;
$color-50-2-2: #F08377;
$color-50-2-3: #F08377;
$color-50-2-4: #F08377;
$color-50-2-5: #F08377;
$color-50-2-6: #F08377;
$color-50-2-7: #F08377;
$color-50-2-8: #F08377;
$color-50-2-9: #F08377;
$color-50-2-10: #F08377;
$color-50-2-11: #F08377;
$color-50-2-12: #F08377;
$color-50-2-13: #F08377;
$color-50-2-14: #F08377;
$color-50-2-15: #F08377;

$color-50-3: #F08377;
$color-50-4: #F08377;
$color-50-5: #F08377;
$color-50-6: #F08377;
$color-50-7: #F08377;
$color-50-8: #F08377;
$color-50-9: #F08377;
$color-50-10: #F08377;
$color-50-11: #F08377;



/* ----------- 51 ------------ 
$color-51-1: #F5F5e1;
$color-51-2: #F5F5e2;
$color-51-3: #F5F5e3;
$color-51-4: #F5F5e4;
$color-51-5: #F5F5e5;
$color-51-6: #F5F5e6;
$color-51-7: #F5F5e7;
$color-51-8: #F5F5e8;
$color-51-9: #F5F5e9;
$color-51-10: #F5F5e0;
$color-51-11: #F5F5d1;
$color-51-12: #F5F5d2;
$color-51-13: #F5F5d3;
$color-51-14: #F5F5d4;
$color-51-15: #F5F5d5;
$color-51-16: #F5F5d6;
$color-51-17: #F5F5d7;
$color-51-18: #F5F5d8;
$color-51-19: #F5F5d9;
$color-51-20: #F5F5d0;
*/
$color-51-1: #F5F5F5;
$color-51-2: #F5F5F5;
$color-51-3: #F5F5F5;
$color-51-4: #F5F5F5;
$color-51-5: #F5F5F5;
$color-51-6: #F5F5F5;
$color-51-7: #F5F5F5;
$color-51-8: #F5F5F5;
$color-51-9: #F5F5F5;
$color-51-10: #F5F5F5;
$color-51-11: #F5F5F5;
$color-51-12: #F5F5F5;
$color-51-13: #F5F5F5;
$color-51-14: #F5F5F5;
$color-51-15: #F5F5F5;
$color-51-16: #F5F5F5;
$color-51-17: #F5F5F5;
$color-51-18: #F5F5F5;
$color-51-19: #F5F5F5;
$color-51-20: #F5F5F5;


/* ---------- 80 --------- 
$color-80-1: #FFFFF1;
$color-80-2: #FFFFF2;
$color-80-3: #FFFFF3;
$color-80-4: #FFFFF4;
$color-80-5: #FFFFF5;
$color-80-6: #FFFFF6;
$color-80-7: #FFFFF7;
$color-80-8: #FFFFF8;
$color-80-9: #FFFFF9;
$color-80-10: #FFFF10;
$color-80-11: #FFFF11;
$color-80-12: #FFFF12;
$color-80-13: #FFFF13;
$color-80-14: #FFFF14;
$color-80-15: #FFFF15;
$color-80-16: #FFFF16;
$color-80-17: #FFFF17;
$color-80-18: #FFFF18;
$color-80-19: #FFFF19;
$color-80-20: #FFFF20;
$color-80-21: #FFFF21;
$color-80-22: #FFFF22;
$color-80-23: #FFFF23;
$color-80-24: #FFFF24;
$color-80-25: #FFFF25;
$color-80-26: #FFFF26;
$color-80-27: #FFFF27;
$color-80-28: #FFFF28;
$color-80-29: #FFFF29;
$color-80-30: #FFFF30;
$color-80-31: #FFFF31;
$color-80-32: #FFFF32;
$color-80-33: #FFFF33;
$color-80-34: #FFFF34;
$color-80-35: #FFFF35;
$color-80-36: #FFFF36;
$color-80-37: #FFFF37;
$color-80-38: #FFFF38;
$color-80-39: #FFFF39;
$color-80-40: #FFFF40;
$color-80-41: #FFFF41;
$color-80-42: #FFFF42;
$color-80-43: #FFFF43;
$color-80-44: #FFFF44;
$color-80-45: #FFFF45;
$color-80-46: #FFFF46;
$color-80-47: #FFFF47;
$color-80-48: #FFFF48;
$color-80-49: #FFFF49;
$color-80-50: #FFFF50;
$color-80-51: #FFFF51;
$color-80-52: #FFFF52;
$color-80-53: #FFFF53;
$color-80-54: #FFFF54;
$color-80-55: #FFFF55;
$color-80-56: #FFFF56;
$color-80-57: #FFFF57;
$color-80-58: #FFFF58;
$color-80-59: #FFFF59;
$color-80-60: #FFFF60;
*/

$color-80-1: #FFFFFF;
$color-80-2: #FFFFFF;
$color-80-3: #FFFFFF;
$color-80-4: #FFFFFF;
$color-80-5: #FFFFFF;
$color-80-6: #FFFFFF;
$color-80-7: #FFFFFF;
$color-80-8: #FFFFFF;
$color-80-9: #FFFFFF;
$color-80-10: #FFFFFF;
$color-80-11: #FFFFFF;
$color-80-12: #FFFFFF;
$color-80-13: #FFFFFF;
$color-80-14: #FFFFFF;
$color-80-15: #FFFFFF;
$color-80-16: #FFFFFF;
$color-80-17: #FFFFFF;
$color-80-18: #FFFFFF;
$color-80-19: #FFFFFF;
$color-80-20: #FFFFFF;
$color-80-21: #FFFFFF;
$color-80-22: #FFFFFF;
$color-80-23: #FFFFFF;
$color-80-24: #FFFFFF;
$color-80-25: #FFFFFF;
$color-80-26: #FFFFFF;
$color-80-27: #FFFFFF;
$color-80-28: #FFFFFF;
$color-80-29: #FFFFFF;
$color-80-30: #FFFFFF;
$color-80-31: #FFFFFF;
$color-80-32: #FFFFFF;
$color-80-33: #FFFFFF;
$color-80-34: #FFFFFF;
$color-80-35: #FFFFFF;
$color-80-36: #FFFFFF;
$color-80-37: #FFFFFF;
$color-80-38: #FFFFFF;
$color-80-39: #FFFFFF;
$color-80-40: #FFFFFF;
$color-80-41: #FFFFFF;
$color-80-42: #FFFFFF;
$color-80-43: #FFFFFF;
$color-80-44: #FFFFFF;
$color-80-45: #FFFFFF;
$color-80-46: #FFFFFF;
$color-80-47: #FFFFFF;
$color-80-48: #FFFFFF;
$color-80-49: #FFFFFF;
$color-80-50: #FFFFFF;
$color-80-51: #FFFFFF;
$color-80-52: #FFFFFF;
$color-80-53: #FFFFFF;
$color-80-54: #FFFFFF;
$color-80-55: #FFFFFF;
$color-80-56: #FFFFFF;
$color-80-57: #FFFFFF;
$color-80-58: #FFFFFF;
$color-80-59: #FFFFFF;
$color-80-60: #FFFFFF;


/* ------ 81 ------ 
$color-81-1: #001E01;
$color-81-2: #001E02;
$color-81-3: #001E03;
$color-81-4: #001E04;
$color-81-5: #001E05;
$color-81-6: #001E06;
$color-81-7: #001E07;
$color-81-8: #001E08;
$color-81-9: #001E09;
$color-81-10: #001E10;
$color-81-11: #001E11;
$color-81-12: #001E12;
$color-81-13: #001E13;
$color-81-14: #001E14;
$color-81-15: #001E15;
$color-81-16: #001E16;
$color-81-17: #001E17;
$color-81-18: #001E18;
$color-81-19: #001E19;
$color-81-20: #001E20;
$color-81-21: #001E21;
$color-81-22: #001E22;
$color-81-23: #001E23;
$color-81-24: #001E24;
$color-81-25: #001E25;
$color-81-26: #001E26;
$color-81-27: #001E27;
$color-81-28: #001E28;
$color-81-29: #001E29;
$color-81-30: #001E30;
$color-81-31: #001E31;
$color-81-32: #001E32;
$color-81-33: #001E33;
$color-81-34: #001E34;
$color-81-35: #001E35;
$color-81-36: #001E36;
$color-81-37: #001E37;
$color-81-38: #001E38;
$color-81-39: #001E39;
$color-81-40: #001E40;
$color-81-41: #001E41;
$color-81-42: #001E42;
$color-81-43: #001E43;
$color-81-44: #001E44;
$color-81-45: #001E45;
$color-81-46: #001E46;
$color-81-47: #001E47;
*/
$color-81-1: #001E40;
$color-81-2: #001E40;
$color-81-3: #001E40;
$color-81-4: #001E40;
$color-81-5: #001E40;
$color-81-6: #001E40;
$color-81-7: #001E40;
$color-81-8: #001E40;
$color-81-9: #001E40;
$color-81-10: #001E40;
$color-81-11: #001E40;
$color-81-12: #001E40;
$color-81-13: #001E40;
$color-81-14: #001E40;
$color-81-15: #001E40;
$color-81-16: #001E40;
$color-81-17: #001E40;
$color-81-18: #001E40;
$color-81-19: #001E40;
$color-81-20: #001E40;
$color-81-21: #001E40;
$color-81-22: #001E40;
$color-81-23: #001E40;
$color-81-24: #001E40;
$color-81-25: #001E40;
$color-81-26: #001E40;
$color-81-27: #001E40;
$color-81-28: #001E40;
$color-81-29: #001E40;
$color-81-30: #001E40;
$color-81-31: #001E40;
$color-81-32: #001E40;
$color-81-33: #001E40;
$color-81-34: #001E40;
$color-81-35: #001E40;
$color-81-36: #001E40;
$color-81-37: #001E40;
$color-81-38: #001E40;
$color-81-39: #001E40;
$color-81-40: #001E40;
$color-81-41: #001E40;
$color-81-42: #001E40;
$color-81-43: #001E40;
$color-81-44: #001E40;
$color-81-45: #001E40;
$color-81-46: #001E40;
$color-81-47: #001E40;

/* ----------- 88 ------------ 

$color-88-1: #B1E7F1;
$color-88-2-1: #B1E201;
$color-88-2-2: #B1E202;
$color-88-2-3: #B1E203;
$color-88-2-4: #B1E204;
$color-88-2-5: #B1E205;
$color-88-2-6: #B1E206;
$color-88-2-7: #B1E207;
$color-88-2-8: #B1E208;
$color-88-2-9: #B1E209;
$color-88-2-10: #B1E210;
$color-88-2-11: #B1E211;
$color-88-2-12: #B1E212;
$color-88-2-13: #B1E213;
$color-88-2-14: #B1E214;
$color-88-2-15: #B1E215;
$color-88-2-16: #B1E216;
$color-88-2-17: #B1E217;
$color-88-2-18: #B1E218;
$color-88-2-19: #B1E219;
$color-88-2-20: #B1E220;
$color-88-2-21: #B1E221;
$color-88-2-22: #B1E222;
$color-88-2-23: #B1E223;
$color-88-2-24: #B1E224;
$color-88-2-25: #B1E225;
$color-88-3: #B1E7F3;
$color-88-4: #B1E7F4;
*/

$color-88-1: #B1E7FC;
$color-88-2-1: #B1E7FC;
$color-88-2-2: #B1E7FC;
$color-88-2-3: #B1E7FC;
$color-88-2-4: #B1E7FC;
$color-88-2-5: #B1E7FC;
$color-88-2-6: #B1E7FC;
$color-88-2-7: #B1E7FC;
$color-88-2-8: #B1E7FC;
$color-88-2-9: #B1E7FC;
$color-88-2-10: #B1E7FC;
$color-88-2-11: #B1E7FC;
$color-88-2-12: #B1E7FC;
$color-88-2-13: #B1E7FC;
$color-88-2-14: #B1E7FC;
$color-88-2-15: #B1E7FC;
$color-88-2-16: #B1E7FC;
$color-88-2-17: #B1E7FC;
$color-88-2-18: #B1E7FC;
$color-88-2-19: #B1E7FC;
$color-88-2-20: #B1E7FC;
$color-88-2-21: #B1E7FC;
$color-88-2-22: #B1E7FC;
$color-88-2-23: #B1E7FC;
$color-88-2-24: #B1E7FC;
$color-88-2-25: #B1E7FC;
$color-88-3: #B1E7FC;
$color-88-4: #B1E7FC;
